.amount-table {
  &__row_left {
    min-width: 110px;
  }

  &__row_right {
    min-width: 90px;
  }

  &__row_big {
    height: 35px;
  }

  &__name {
    text-align: left;
    padding: 0 15px 0 0;
  }

  &__amount {
    text-align: right;
  }
}