// App
$app-header-height: 90px;
$app-menu-width: 300px;
$app-content-padding: 10px;

// Colors
$app-menu-background: rgb(32, 37, 45);
$app-content-background: rgb(199, 205, 205);

// Fonts
$base-font-size: 17px;
$big-font-size: 20px;
$small-font-size: 15px;
