// App
$app-header-height: 90px;
$app-menu-width: 300px;
$app-content-padding: 10px;

// Colors
$app-menu-background: rgb(32, 37, 45);
$app-content-background: rgb(199, 205, 205);

$btn-neutral-bg-start: rgb(120, 160, 159);
$btn-neutral-bg-end: rgb(97, 136, 135);
$btn-neutral-color: rgb(255, 255, 255);

$btn-warning-bg-start: rgb(172, 23, 35);
$btn-warning-bg-end: rgb(155, 6, 26);
$btn-warning-hov-bg-start: rgb(190, 24, 24);
$btn-warning-hov-bg-end: rgb(179, 8, 8);
$btn-warning-color: rgb(255, 255, 255);

$btn-ok-bg-start: rgb(23, 172, 166);
$btn-ok-bg-end: rgb(6, 155, 151);
$btn-ok-hov-bg-start: rgb(24, 190, 185);
$btn-ok-hov-bg-end: rgb(8, 179, 173);
$btn-ok-color: rgb(255, 255, 255);

$mark-ok-background: rgb(14, 188, 186);
$mark-ok-color: rgb(255, 255, 255);
$mark-error-background: rgb(188, 14, 14);
$mark-error-color: rgb(255, 255, 255);
$object-card-header-ok-background: rgba(158, 214, 183, 0.8);
$object-card-header-error-background: rgba(214, 158, 158, 0.8);
$object-card-header-color: rgb(27, 27, 27);
$object-card-body-background: rgb(255, 255, 255);
$object-card-footer-background: rgb(230, 236, 236);

// Fonts
$base-font-family: Arial, Helvetica, sans-serif;
$base-font-size: 17px;
$big-font-size: 20px;
$small-font-size: 15px;
