.pull {
  @each $side in right, left {
    &-#{ $side } {
      float: $side
    }
  }
}

@each $property in block, inline-block, inline, table, table-cell, table-row {
  .#{ $property } {
    display: $property !important
  }
}

.overflow {
  @each $value in hidden, scroll, auto {
    &-#{$value} {
      overflow: $value
    }
  }
}

.clickable {
  cursor: pointer
}

.hidden {
  display: none !important
}

.full-height {
  height: 100vh;
}

.full-width {
  width: 100vw;
}

@each $property in height, width {
  .max-#{$property} {
    #{$property}: 100%;
  }
}

.text {
  &-danger {
    color: red;
  }
}
