@import "grid";
@import "constants";

.pull {
  @each $side in right, left {
    &-#{ $side } {
      float: $side
    }
  }
}

@each $property in block, inline-block, inline, table, table-cell, table-row {
  .#{ $property } {
    display: $property !important
  }
}

@each $property in margin, padding {
  .no-#{ $property } {
    #{ $property }: 0 !important;

    @each $side in right, left, top, bottom {
      &-#{ $side } {
        #{ $property }-#{ $side }: 0 !important;
      }
    }
  }
}

@for $i from 1 through 9 {
  @each $property in margin, padding {
    .#{ $property }-#{ $i }x {
      #{ $property }: #{ $grid-step * $i } !important;

      @each $side in right, left, top, bottom {
        &-#{ $side }-#{ $i }x {
          #{ $property }: $grid-step * $i !important;
        }
      }
    }
  }

}
.clickable {
  cursor: pointer
}

.hidden {
  display: none !important
}

.overflow {
  @each $mode in auto, scroll, hidden {
    &-#{ $mode } {
      overflow: $mode;
    }

    @each $direction in x, y {
      &-#{ $direction }-#{ $mode } {
        overflow-#{ $direction }: $mode;
      }
    }
  }
}

.vp {
  @each $property in height, min-height, max-height {
    &-#{ $property } {
      #{ $property }: 100vh;
    }
  }

  @each $property in width, min-width, max-width {
    &-#{ $property } {
      #{ $property }: 100vw;
    }
  }
}

.full {
  @each $property in height, min-height, max-height, width, min-width, max-width {
    &-#{ $property } {
      #{ $property }: 100%;
    }
  }
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
