.pull {
  @each $side in right, left {
    &-#{ $side } {
      float: $side
    }
  }
}

@each $property in block, inline-block, inline {
  .#{ $property } {
    display: $property !important
  }
}

.overflow {
  @each $value in hidden, scroll, auto {
    &-#{$value} {
      overflow: $value
    }
  }
}

.clickable {
  cursor: pointer
}

.hidden {
  display: none !important
}
