@import "src/styles/global";

$option-height: $grid-step * 6;
$option-v-padding: $grid-step * 2;
$option-l-padding: $grid-step * 2;
$option-r-padding: $grid-step * 2;
$option-child-l-padding: $option-l-padding * 2;
$body-height: $option-height - 2 * $option-v-padding;
$icon-size: $grid-step * 2;
$icon-r-margin: $grid-step * 2;
$dot-r-margin: $grid-step;

.m-option {
  &__icon {
    width: $icon-size;
    margin-right: $icon-r-margin;
  }

  &__item {
    height: $body-height;
    display: block;
    text-decoration: none;
    color: white;
    padding: $option-v-padding $option-r-padding $option-v-padding $option-l-padding;
    background-color: transparent;
    border-right: solid 3px transparent;

    &.active-item, &:hover {
      background-color: #2F343A;
      border-right-color: aqua;
    }

    &__child {
      padding-left: $option-child-l-padding;
      background-color: #161A23;
      border-bottom: solid #2F343A 1px;

      &.active-item, &:hover {
        background-color: #1f2026;
        border-right-color: #004949;
      }
    }

    &__small {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  &__counter {
    float: right;
  }

  &__array {
    float: right;
  }

  &__dot {
    display: inline-block;
    background-color: #299844;
    border-radius: 50%;
    height: $grid-step;
    width: $grid-step;
    margin-bottom: $grid-step * 0.5;
    margin-top: $grid-step * 0.5;
    margin-right: $dot-r-margin;
  }
}