@import "src/styles/constants.scss";

$avatar-size: 45px;
$border-line: 2px;

.container{
  height: $app-header-height;
}

.avatar{
  position: relative;
  top: ($app-header-height - $avatar-size - $border-line)/2;

  width: $avatar-size;
  height: $avatar-size;
  border-radius: $avatar-size/2;
  border: $object-card-body-background $border-line solid;

  margin: 0 10px 0 10px;
}

.username{
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: $object-card-body-background;
  margin: 0 5px 0 5px;
}

.visible{
  border: 1px red solid;
  opacity: 1;
}

.hidden{
  border: 2px blue dotted;
  opacity: 0;
}