@import 'src/styles/constants.scss';

$controller-head-background: $app-menu-background;

.controller-head{
  text-align: center;
  padding: 5px;
  background-color: $controller-head-background;
  border-radius: 5px;

  font-size: $big-font-size;
}

.controller-body{
  font-size: $base-font-size;
  color: $controller-head-background;
  padding: 10px;
}

.controller-button{
  background: linear-gradient(to bottom, $btn-ok-bg-start, $btn-ok-bg-end);
  border: 0px solid black;
  color: $btn-neutral-color;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  width: 75px;
  height: 30px;

  position: relative;
  left: 243px;
}