@import "src/styles/constants.scss";
@import "src/styles/grid.scss";

// don't care about variable names, we will use scoped styles in the future
$control-padding-h: $grid-step;
$control-padding-v: $grid-step;
$control-height: $app-header-height - 2 * $control-padding-v;
$control-width: $grid-step * 30;
$avatar-r-margin: $grid-step;
$avatar-size: $grid-step * 4;
$border-line: 1px;
$drop-down-size: $grid-step * 2;
$text-size: $base-font-size;
$user-menu-width: $grid-step * 20;

.container {
  display: flex;
  align-items: center;

  height: $control-height;
  padding: $control-padding-h $control-padding-v;
}

.avatar {
  width: $avatar-size;
  height: $avatar-size;
  border-radius: 50%;
  border: white $border-line solid;

  margin-right: $avatar-r-margin;
}

.drop-down {
  width: $drop-down-size;
  margin-left: $grid-step;
}

.username {
  overflow-wrap: break-word;
  color: white;
  cursor: pointer;
  vertical-align: center;
}

.user-menu {
  transition: transform ease-in-out 50ms;
  right: $grid-step;
  margin-top: -$grid-step;
  width: $user-menu-width;

  &__visible {
    display: block;
  }

  &__hidden {
    display: none;
  }
}

.hidden {
  border: 2px blue dotted;
  opacity: 0;
}